// Эти функции позволяют выбрать один цвет из карты Sass
@function color($key: "blue") {
    @return map-get($colors, $key);
}

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

@function gray($key: "100") {
    @return map-get($grays, $key);
}

// пример использования
/*
.custom-element {
    color: gray("100");
    background-color: theme-color("dark");
}
*/


// функция для получения уровня цвета из карты
// Отрицательные значения уровня осветлит цвет, и наоборот – больше значение – темнее цвет.
// На практике лучше вызвать функцию и передать ей два значения: название цвета из $theme-colors
@function theme-color-level($color-name: "primary", $level: 0) {
    $color: theme-color($color-name);
    $color-base: if($level > 0, #000, #fff);
    $level: abs($level);

    @return mix($color-base, $color, $level * $theme-color-interval);
}

// пример использования
/*
.custom-element {
    color: theme-color-level(primary, -10);
}
*/

// #############  Контраст цветов #####################################













































